* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
text-decoration: none;
color: gray;
}

a:hover {
    
    color: black;
}



p {
    font-family: 'Kanit', sans-serif;
    color: gray;
}



